esphome:
  name: esphome-altherma
  friendly_name: ESPHome Altherma
  name_add_mac_suffix: false
  project:
      name: rsre.esphome-altherma
      version: 0.0.17

# Enable logging
logger:

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable ESPHome API for dashboard import
api:
  encryption:
   key: X/jdz+YqaOO50596YXNrF0qdF88i9kFWa7IkvmM3X4s=

# OTA is required for Over-the-Air updating
# http_request:
#   buffer_size_rx: 4096

ota:
  - platform: esphome
    password: !secret ota_password
  # - platform: http_request

# update:
#   - platform: http_request
#     id: update_http_request
#     source: https://github.com/rsre/esphome-altherma/releases/latest/download/esphome-altherma.manifest.json

# dashboard_import:
#   package_import_url: github://rsre/esphome-altherma/esphome-altherma-esp32.device-builder.yaml@main
#   import_full_config: false # or true

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Altherma Fallback Hotspot"
    password: "bVMoXw4ATPxA"

# In combination with the `ap` this allows the user
# to provision wifi credentials to the device.
captive_portal:

uart:
  id: uart_bus
  tx_pin: GPIO17
  rx_pin: GPIO16
  baud_rate: 9600
  data_bits: 8
  parity: EVEN
  stop_bits: 1

external_components:
  - source: github://rsre/esphome-altherma@main
    components: [altherma_hub]

altherma_hub:
  id: altherma_hub_1
  uart_id: uart_bus
  update_interval: 30s

# select:
#   - platform: template
#     name: "Heat pump Model"
#     id: heat_pump_model
#     options:
#       - "ERGA D EHV-EHB-EHVZ DA series"
#     initial_option: "ERGA D EHV-EHB-EHVZ DA series"
#     optimistic: true

packages:
  altherma_sensors: github://rsre/esphome-altherma/confs/epga_ea_dj_11_16.yaml@main
